<h1><%= @chef.name %></h1>
<div id="dishes">
<% @chef.dishes.each do |dish| %>
  <p><%= dish.name %></p>
<% end %>
</div>

<p><%= link_to "#{@chef.name}'s Ingredients", chef_ingredients_path(@chef) %></p>

<%= form_with url: chef_path(@chef), method: :patch, local: true do |form| %>
  <%= form.label :id %>
  <%= form.number_field :dish_id %>
  <%= form.submit 'Submit' %>
<% end %>